<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <!-- our code starts here -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="predication.html">Predication</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="container-fluid mt-5"
     <div class="row py-lg-5">
        <div class="col-lg-10 col-md-8 mx-auto">
            <h1 class="fw-light">Pest Identified : Earthworms</h1>
            <p class="lead text-muted">Recommended Pesticides are :</p>

        </div>
    </div>
    </div>

        <div class="col-lg-4">
            <img src="/static/pesticides/earthworm/biostadt-malathion-57-ec.jpg" alt="Popular" class="bd-placeholder-img rounded-circle"
            width="240" height="240">
            <h3 class="card-text">Dose: 570 gm/L</h3>
        </div>
        </div><!-- /.col-lg-4 -->
        <img src="/static/pesticides/earthworm/smash.jpg" alt="Popular" class="bd-placeholder-img rounded-circle"
        width="240" height="240">
        <h3 class="card-text">Dose: 1.0-4.5 Tbsp/16 L</h3>

        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
</body>

</html>