<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <!-- our code starts here -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/predication.html">Predication</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " href="/Contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="container">
        <hr>
        <h3>Fertilizer predication</h3>
        <hr>
        <form action="/fertilizer" method="POST">
            <div class="mb-3">
                <label for="nitrogen" class="form-label"><b>Nitrogen (ratio)</b> </label>
                <input type="number" step=".01" name="nitrogen" class="form-control" placeholder="Enter the value (example:50)"
                style="font-weight: bold" id="nitrogen">
                <div class="mb-3">
                    <label for="number" class="form-label"><b>Phosphours (ratio)</b></label>
                    <input type="number" step=".01" name="phosphours" class="form-control" placeholder="Enter the value (example:50)"
                    style="font-weight: bold" id="phosphours">
                    <div class="mb-3">
                        <label for="Potassium" class="form-label"><b>Potassium (ratio)</b></label>
                        <input type="number" step=".01" name="Potassium" class="form-control" placeholder="Enter the value (example:50)"
                        style="font-weight: bold" id="Potassium">
                        <div class="mb-3">
                            <label for="crop_name" class="form-label"><b>Crop you want to grow </b></label>
                            <select
                            <input type="text" name="crop_name" placeholder="Select a crop" class="form-control" id="crop_name"
                                required>
                            <option selected>apple</option>
                            <option>banana</option>
                            <option>blackgram</option>
                            <option>chickpea</option>
                            <option>coconut</option>
                            <option>coffee</option>
                            <option>cotton</option>
                            <option>grapes</option>
                            <option>groundnut</option>
                            <option>jute</option>
                            <option>kidneybeans</option>
                            <option>lentil</option>
                            <option>maize</option>
                            <option>mango</option>
                            <option>mothbeans</option>
                            <option>mungbean</option>
                            <option>muskmelon</option>
                            <option>mustard</option>
                            <option>orange</option>
                            <option>paddy</option>
                            <option>papaya</option>
                            <option>pearlmillet</option>
                            <option>pigeonpea</option>
                            <option>pomegranate</option>
                            <option>rapeseed</option>
                            <option>rice</option>
                            <option>sorghum</option>
                            <option>sugarcane</option>
                            <option>watermelon</option>
                            <option>wheat</option>>
                        </select>
                        
                        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
        crossorigin="anonymous"></script>
</body>

</html>