<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body>
    <!-- our code starts here -->
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="predication.html">Predication</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active " href="contact.html">Contact Us</a>
                    </li>
                </ul>
            </div>
    </nav>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>Now you can predict the type of crop you can grow on basis of the soil condition</p>

    </div>
    <section>
    <div class="container-fluid mt-5" <div class="row py-lg-5">
        <div class="col-lg-10 col-md-8 mx-auto">
            <h1 class="fw-normal">ML in Agriculture</h1>
            <h2 class="fw-normal"> AI systems are helping to improve the overall harvest quality and accuracy – known as precision agriculture. AI technology helps in detecting disease in plants, pests and poor nutrition of farms. AI sensors can detect and target weeds and then decide which herbicide to apply within the region</h2>
            <br>
            <img src="/static/cpage.jpg" alt="Table Set" class="tm-table-set img-responsive" width="75%">

        </div>
    </div>
</section>
    <section>
        
        <div class="container-fluid mt-5" <div class="row py-lg-5">
        <div class="col-lg-10 col-md-8 mx-auto">
        <div class="row">
            <div class="col-lg-4">
                <img src="/static/crop.jpg" alt="Popular" class="bd-placeholder-img rounded-circle" width="300" height="300" ><br>

                <h2 class="fw-normal">Crop predication</h2><br>
                <p>Machine learning (ML) is significant since it offers a decision-support tool for Crop Yield Prediction (CYP), which may help with decisions like which crops to cultivate and what to do during the crop's growing season.</p><br><br><br>
                <p><a class="btn btn-secondary" href="/crop_pred.html">View details »</a></p>

            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img src="/static/popular-3.jpg" alt="Popular" class="bd-placeholder-img rounded-circle" width="300" height="300" ><br>

                <h2 class="fw-normal">Fertilizer predication</h2><br>
                <p>The use of modern technology in agriculture is the need of the hour. There exists no point in developing high tech - devices as long as there are starving farmers, who have toiled to feed our mouths. An important part of agriculture is the use of  fertilizers.Fertilizers help in keeping the crop safe from pests and in providing additional nutrients in order to grow a successful crop</p>
                <p><a class="btn btn-secondary" href="/fertilizer.html">View details »</a></p>
            </div><!-- /.col-lg-4 --><br><br>
        </div>
        </div>
    </section>
    <div class="container-fluid mt-5" <div class="row py-lg-5">
        <div class="col-lg-10 col-md-8 mx-auto"> 
    <div class="row">   
            <div class="col-lg-4">
                <img src="/static/pesticides.jpg" alt="Popular" class="bd-placeholder-img rounded-circle" width="300" height="300" ><br><br>

                 <h2 class="fw-normal">Crop yeild predication</h2><br>
                <p>Yield prediction is a very important issue in agricultural. Any farmer is interested in knowing how much yield he is about to expect. Analyze the various related attributes in the region, soil composition can be determined.which enhance to increase the crop yield and increase farmer revenue.</p><br><br><br>
                <p><a class="btn btn-secondary" href="/yeild_predict.html">View details »</a></p>
            </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                  <img src="/static/popular-3.jpg" alt="Popular" class="bd-placeholder-img rounded-circle" width="300" height="300" ><br><br>

                <h2 class="fw-normal">Pesticides Predication</h2>
                <p>The cultivation of crops for optimum yield and quality produce is highly technical. The crop production has reduced due to various factors like pest attack, diseases and climatic conditions. Crop protection is the science and practice of managing pests, plant diseases and other pest organisms that damage agricultural crops. Machine learning is a looming field of computer science which can be applied to the farming sector quite effectively. </p><br>
               <p><a class="btn btn-secondary" href="/pesticides.html">View details »</a></p>
          </div><!-- /.col-lg-4 -->
    </div>
    </div>
    </div>

</html>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>